lead_gen_auto/lead_scraper_final.json
{
  "name": "Lead Scraping",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        -368
      ],
      "id": "147cd5fc-5f98-494b-b371-dd1a4828acf0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/code_crafter~apollo-io-scraper/run-sync-get-dataset-items?token=api_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "<API-KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"getPersonalEmails\": true,\n    \"getWorkEmails\": true,\n    \"totalRecords\": 500,\n    \"url\": \"{{ $json.finalURL }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        -368
      ],
      "id": "5c91ac83-fa4c-4870-99ee-665678d42280",
      "name": "Apollo Scraper"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "yoursheet-id",
          "mode": "list",
          "cachedResultName": "Lead Agent"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name ": "={{ $json.fullName }}",
            "Email Address": "={{ $json.emailAddress }}",
            "Phone Number": "={{ $json.Number }}",
            "Country ": "={{ $json.country }}",
            "Location": "={{ $json.location }}",
            "Industry": "={{ $json.businessIndustry }}",
            "Company Name": "={{ $json.companyName }}",
            "Job Title": "={{ $json.jobTitle }}",
            "Seniority": "={{ $json[\"seniority \"] }}",
            "Website URL": "={{ $json.websiteURL }}",
            "LinkedIn URL": "={{ $json.linkedInURL }}"
          },
          "matchingColumns": [
            "LinkedIn URL"
          ],
          "schema": [
            {
              "id": "Full Name ",
              "displayName": "Full Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country ",
              "displayName": "Country ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Seniority",
              "displayName": "Seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website URL",
              "displayName": "Website URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Research Report",
              "displayName": "Research Report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1184,
        -368
      ],
      "id": "92f0ed9f-7fd3-4e0a-8bba-59fd87f8fb80",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "jsCode": "// Retrieve the input data from node A.\nlet inputData = $node[\"JSON\"].json;\n// If the output is an array, take the first element; otherwise, use it as is.\nif (Array.isArray(inputData)) {\n  inputData = inputData[0];\n}\n\n// Now, access the \"query\" property. \n// We expect \"query\" to be an array, so take its first element.\nconst paramsData = inputData.query[0];\n\n// Base URL for Apollo\nconst baseURL = 'https://app.apollo.io/#/people';\n\n// Array to hold each part of the query string\nconst queryParts = [];\n\n// Add static parameters\nqueryParts.push('sortByField=recommendations_score');\nqueryParts.push('sortAscending=false');\nqueryParts.push('page=1');\n\n// Helper function to process and add array parameters to queryParts\nconst addArrayParams = (paramName, values) => {\n  values.forEach(val => {\n    // Replace '+' with space then encode the value \n    // (e.g., \"sydney+australia\" -> \"sydney australia\" -> \"sydney%20australia\")\n    const decodedValue = val.replace(/\\+/g, ' ');\n    queryParts.push(`${paramName}[]=${encodeURIComponent(decodedValue)}`);\n  });\n};\n\n// Process job titles (maps to personTitles[])\nif (paramsData.job_title && Array.isArray(paramsData.job_title)) {\n  addArrayParams('personTitles', paramsData.job_title);\n}\n\n// Process locations (maps to personLocations[])\nif (paramsData.location && Array.isArray(paramsData.location)) {\n  addArrayParams('personLocations', paramsData.location);\n}\n\n// Process business keywords (maps to qOrganizationKeywordTags[])\nif (paramsData.business && Array.isArray(paramsData.business)) {\n  addArrayParams('qOrganizationKeywordTags', paramsData.business);\n}\n\n// Add static included organization keyword fields\nqueryParts.push('includedOrganizationKeywordFields[]=tags');\nqueryParts.push('includedOrganizationKeywordFields[]=name');\n\n// Combine all query parts with '&' to form the full query string\nconst queryString = queryParts.join('&');\n\n// Build the final URL\nconst finalURL = `${baseURL}?${queryString}`;\n\n// Return the output as an array of objects\nreturn [{ json: { finalURL } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -368
      ],
      "id": "446a776e-3893-4710-b04d-5709809c5cf1",
      "name": "Create URL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "336074e3-b3b9-4dde-92d7-fb5af51b8ffa",
              "name": "fullName",
              "value": "={{ $json.first_name }} {{ $json.last_name }}",
              "type": "string"
            },
            {
              "id": "da8362c5-75a5-4431-847d-fd4e02112bcc",
              "name": "emailAddress",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "3c99e0e0-4184-4e85-baa0-8bb85e4e227b",
              "name": "linkedInURL",
              "value": "={{ $json.linkedin_url }}",
              "type": "string"
            },
            {
              "id": "a45af1ff-7026-47a0-a42c-bdb3b27c8e3d",
              "name": "seniority ",
              "value": "={{ $json.seniority }}",
              "type": "string"
            },
            {
              "id": "fa551406-a981-4fbb-babc-aa78ab10010d",
              "name": "jobTitle",
              "value": "={{ $json.employment_history[0].title }}",
              "type": "string"
            },
            {
              "id": "2e8d8d61-bd02-4f24-91f1-707152d99806",
              "name": "companyName",
              "value": "={{ $json.employment_history[0].organization_name }}",
              "type": "string"
            },
            {
              "id": "1295a702-636a-48bd-8bcd-df92162237fb",
              "name": "location",
              "value": "={{ $json.city }}, {{ $json.state }}",
              "type": "string"
            },
            {
              "id": "0072b657-0296-4858-b190-621831943816",
              "name": "country",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "22ce107c-30ef-4abe-9fab-8d49482da87c",
              "name": "Number",
              "value": "={{ $json.organization.primary_phone && $json.organization.primary_phone.sanitized_number && $json.organization.primary_phone.sanitized_number ? $json.organization.primary_phone.sanitized_number : null }}",
              "type": "string"
            },
            {
              "id": "302b9529-e16b-49ce-bbb6-ae2de90fed93",
              "name": "websiteURL",
              "value": "={{ $json.organization_website_url }}",
              "type": "string"
            },
            {
              "id": "13026de1-0927-44f7-8388-4d525f44974d",
              "name": "businessIndustry",
              "value": "={{ $('JSON').item.json.query[0].business[0].replaceAll('+',' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -368
      ],
      "id": "bc2a3f7d-57f6-4cde-8fef-f391c02adb14",
      "name": "Extract Info"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ecbc937-c5dc-4948-8d27-ccdb4d4a9bed",
              "name": "output",
              "value": "={{ $input.all().length }} new contacts have been added to the Google Sheet!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        -368
      ],
      "id": "776b975c-2a75-4d72-88a9-69ae5972d69b",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1600,
        -368
      ],
      "id": "7d73e4ac-2101-4132-8ab5-745f3f73813e",
      "name": "Limit"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"query\": \n{{ $json.query }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -368
      ],
      "id": "9312ddd0-7cdd-40a9-8a9e-6254ee555d03",
      "name": "JSON"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.linkedInURL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        960,
        -368
      ],
      "id": "b361aa92-fda1-40ce-b65b-d453965438a6",
      "name": "Remove Duplicates"
    }
  ],
    "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Scraper": {
      "main": [
        [
          {
            "node": "Extract Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create URL": {
      "main": [
        [
          {
            "node": "Apollo Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Info": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON": {
      "main": [
        [
          {
            "node": "Create URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
    "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "workflow-id",
  "tags": []
}